<!DOCTYPE html>
<!-- saved from url=(0053)https://getbootstrap.com/docs/3.4/examples/offcanvas/ -->
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <title>查询结果</title>

  <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="/stylesheets/ie10-viewport-bug-workaround.css" rel="stylesheet">
  <link href="/stylesheets/offcanvas.css" rel="stylesheet">
  <script src="/lib/ie-emulation-modes-warning.js"></script>
  <style type="text/css">
    .font-reset {
      font-family: "Microsoft Yahei", Verdana, Geneva, Tahoma, sans-serif
    }

    .top-blank {
      margin-top: 10px
    }

    .header-text {
      font-weight: bold;
      color: #eee;
      text-align: center;
    }

    .graph-block {
      margin-bottom: -20px;
      margin-top: -40px;
      color: inherit;

    }

    .graph-block p {
      margin-bottom: 5px;
      font-size: 16px;
    }

    .footer-reset {
      margin-right: -15px;
      margin-left: -15px;
      font-weight: bold;
      font-size: 18px;
      line-height: 20px;
      padding: 5px 10px;
      text-align: center;
    }
  </style>
</head>

<body class="font-reset">
  <nav class="navbar navbar-fixed-top bg-primary">
    <div class="container">
      <div class="navbar-header">

        <a class="navbar-brand header-text" href="#">阳澄湖大闸蟹商会</a>
      </div>
      <!-- /.nav-collapse -->
    </div><!-- /.container -->
  </nav><!-- /.navbar -->

  <div class="container">

    <div class="row row-offcanvas row-offcanvas-right">

      <div class="col-xs-12 col-sm-9">

        <img src="/images/timg.jpg" class="img-responsive img-rounded"></img>
      </div>
      <% if (result == 2) {%>

      <div class="col-xs-12 col-sm-9 top-blank">

        <div class="jumbotron">
          <div class="graph-block">
            <h3>查询结果</h3>
            <p><span class="text-danger">查询失败,请稍后再试</span></p>
          </div>
        </div>
      </div>
     
      <%} else if(result == 0){%>

      <div class="col-xs-12 col-sm-9 top-blank">
        <div class="jumbotron">
          <div class="graph-block">
            <h3>查询结果</h3>
            <p>您查询的防伪码： <span class="text-primary"><%= data.code %></span></p>
            <p>尊敬的客户您好：你查询的是由<span class="text-primary">苏州市阳澄湖大行业商会</span>监制的<span
                class="text-primary"><%= data.member %></span>大闸蟹，感谢您的查询</p>
            <p>查询次数: <span class="text-primary"><%= data.queryCount %></span></p>
            <p>首次查询时间: <span class="text-primary"><%= data.firstTime %></span></p>
          </div>
        </div>
      </div>
      
      <%} else if (result == -1){ %>

      <div class="col-xs-12 col-sm-9 top-blank">

        <div class="jumbotron">
          <div class="graph-block">
            <h3>查询结果</h3>
            <p>您所查的防伪码不存在，谨防假冒，或核对后请重新查询，并请拨打咨询热线： <span class="text-primary">95938</span></p>
          </div>
        </div>

      </div>

      <% } else if (result == 1) {%>
      
        <div class="col-xs-12 col-sm-9 top-blank">

        <div class="jumbotron">
          <div class="graph-block">
            <h3>查询结果</h3>
            <p>防伪码<span class="text-primary"><%= data.code %></span>已经被查询<span class="text-primary"><%= data.queryCount %></span>次，首次查询时间为：<span
                class="text-primary"><%= data.firstTime %></span></p>
            <p>请您谨防假冒，并请拨打咨询热线： <span class="text-primary">95938</span></p>
          </div>
        </div>

      </div>
      
      <% }%>
    </div>


    <hr>
  </div>
  <footer class="footer-reset footer bg-primary">
    <h4>©阳澄湖大闸蟹商会.</h4>
  </footer>
  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/lib/ie10-viewport-bug-workaround.js"></script>
  <script src="/lib/offcanvas.js"></script>
</body>

</html>