<!DOCTYPE html>
<!-- saved from url=(0053)https://getbootstrap.com/docs/3.4/examples/offcanvas/ -->
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <title>查询结果</title>

  <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="/stylesheets/ie10-viewport-bug-workaround.css" rel="stylesheet">
  <link href="/stylesheets/offcanvas.css" rel="stylesheet">
  <script src="/lib/ie-emulation-modes-warning.js"></script>
  <style type="text/css">
    .font-reset {
      font-family: "Microsoft Yahei", Verdana, Geneva, Tahoma, sans-serif
    }

    .top-blank {
      margin-top: 20px;
      margin-bottom: -20px;
    }

    .header-text {
      font-weight: bold;
      color: #eee;
      text-align: center;
    }

    .graph-block {
      margin-bottom: -20px;
      margin-top: -40px;
      line-height: 1.5em;
      color: inherit;

    }

    #mapContainer {
      min-height: 200px;
      margin-bottom: -20px;
      border-radius: 6px;
    }

    .graph-block p {
      margin-bottom: 5px;
      font-size: 16px;
    }

    .footer-reset {
      margin-right: -15px;
      margin-left: -15px;
      font-weight: bold;
      font-size: 18px;
      line-height: 20px;
      padding: 5px 10px;
      text-align: center;
    }
    .small-margin{
      margin: 3%;
    }

    .link-fix{
      margin: 1.2% 3%;
    }
  </style>
</head>

<body class="font-reset">
  <nav class="navbar navbar-fixed-top bg-primary">
    <div class="container">
      <div class="navbar-header">
        <% if(data.info && data.info.type === 0) { 
          var title = data.info.name;
          if(title.indexOf('公司')> -1){
            title = title.substring(0,title.indexOf('公司')+2);
          }  
        %>
        <a class="navbar-brand header-text" href="#"><%= title %></a>
        <a class="navbar-brand header-text" href="#" id="mainLink" style="float: right">返回</a>
        <% } else { %>
        <a class="navbar-brand header-text" href="#">苏州市相城区阳澄湖大闸蟹行业协会</a>
        <% } %>
      </div>
      <!-- /.nav-collapse -->
    </div><!-- /.container -->
  </nav><!-- /.navbar -->

  <div class="container">

    <div class="row row-offcanvas row-offcanvas-right">

      <div class="col-xs-12 col-sm-9" id="headerImgPanel">

        <% if(data.info && data.info.type === 0) { %>
        <img src="<%=data.info.logo%>" class="img-responsive img-rounded"
          style="margin-top:5px;margin-bottom:10px"></img>
        <% } else {%>
        <img src="/images/timg.jpg" class="img-responsive img-rounded" style="margin-top:5px;margin-bottom:10px"></img>
        <% } %>
      </div>
      <% if (result == 2) {%>

      <div class="col-xs-12 col-sm-9 top-blank">

        <div class="jumbotron">
          <div class="graph-block">
            <h3>查询结果</h3>
            <p><span class="text-danger">查询失败,请稍后再试</span></p>
          </div>
        </div>
      </div>

      <%} else if(result == 0){%>

      <% if(data.info && data.info.type === 0){%>
      <div class="col-xs-12 col-sm-9 top-blank" id="queryPanel">
        <div class="jumbotron">
          <div id="result" class="graph-block">
            <h3>查询结果</h3>
            <p>您查询的序列号： <span id="code" class="text-primary"><%= data.code %></span></p>
            <p>尊敬的客户您好：你查询的是<span class="text-primary"><%= data.member %></span>大闸蟹，感谢您的查询。</p>
            <p>查询次数: <span class="text-primary"><%= data.queryCount %></span></p>
            <p>首次查询时间: <span class="text-primary"><%= data.firstTime %></span></p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-9 top-blank" id="navPanel">
        <div class="jumbotron">
          <div class="graph-block">
            <h3>更多</h3>
            <div class="row"><a class="btn-sm btn-primary col-xs-5 link-fix text-center" id="companyIntroBtn" href="#">公司介绍</a>
            <a class="btn-sm btn-primary col-xs-5 link-fix text-center" id="someVideosBtn" href="#">视频中心</a></div>
            <div class="row"><a class="btn-sm btn-primary col-xs-5 link-fix text-center" id="someCertsBtn" href="#">资质荣誉</a>
            <a class="btn-sm btn-primary col-xs-5 link-fix text-center" id="somePicsBtn" href="#">众享美味</a></p></div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-9 top-blank" id="companyIntro">
        <div class="jumbotron">
          <div class="graph-block">
            <h3>公司信息</h3>
            <p><span class="text-primary">名字: </span><%= data.info.name %></p>
            <p><span class="text-primary">电话: </span><%= data.info.telephone %></p>
            <% if(!!data.info.page){ 
              var url = data.info.page;
              if(data.info.page.indexOf('http://')==-1){
                url = 'http://'+ data.info.page
              }  
            %>
            <p><span class="text-primary">首页: </span><a class="text-muted" href="<%= url %>"><%= data.info.page %></a>
            </p>
            <% } %>
            <p><span class="text-primary">简介: </span></p>
            <p> <%= data.info.extraInfo %> </p>

          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-9 top-blank" id="someCerts">
        <div class="jumbotron">
          <div class="graph-block">
            <h3>资质荣誉</h3>
            <p>
              <% if(data.info.certification){ %>
              <img src="<%=data.info.certification%>" class="img-responsive img-rounded"
                style="margin-top:5px;margin-bottom:10px"></img>
              <%} %>
              <% if(data.info.businessCertification){ %>
              <img src="<%=data.info.businessCertification%>" class="img-responsive img-rounded"
                style="margin-top:5px;margin-bottom:10px"></img>
              <%} %>
              <% if(data.info.commCertification){ %>
              <img src="<%=data.info.commCertification%>" class="img-responsive img-rounded"
                style="margin-top:5px;margin-bottom:10px"></img>
              <%} %>
            </p>

          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-9 top-blank" id="somePics">
        <div class="jumbotron">
          <div class="graph-block">
            <h3>众享美味</h3>
            <p>
              <% if(data.info.uploadImages) { 
                  let images = data.info.uploadImages.split('|'); 
                  for(let i = 0; i < images.length; i++) {
                    const image = images[i]; %>
                    <img src="<%=image%>" class="img-responsive img-rounded"
                    style="margin-top:5px;margin-bottom:10px"></img>
              <%}
              }  
              %>
            </p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-9 top-blank" id="someVideos">
        <div class="jumbotron">
          <div class="graph-block">
            <h3>视频中心</h3>
            <p>
              <% if(data.info.uploadVideos) { 
                let videos = data.info.uploadVideos.split('|'); 
                for(let i = 0; i < videos.length; i++) {
                  const video = videos[i]; %>
                  <video  class="img-responsive img-rounded"
                  style="margin-top:5px;margin-bottom:10px" controls>
                  <source src="<%=video%>" type="video/mp4" >
                    您的浏览器不支持
                  </video>
            <%}
            }  
            %>
            </p>

          </div>
        </div>
      </div>
      
      <%} else {%>
      <div class="col-xs-12 col-sm-9 top-blank">
        <div class="jumbotron">
          <div id="result" class="graph-block">
            <h3>查询结果</h3>
            <p>您查询的序列号： <span id="code" class="text-primary"><%= data.code %></span></p>
            <p>尊敬的客户您好：你查询的是由<span class="text-primary">苏州市相城区阳澄湖大闸蟹行业协会</span>监制的<span
                class="text-primary"><%= data.member %></span>的大闸蟹，感谢您的查询。</p>
            <p>查询次数: <span class="text-primary"><%= data.queryCount %></span></p>
            <p>首次查询时间: <span class="text-primary"><%= data.firstTime %></span></p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-9 top-blank">
        <div class="jumbotron">
          <div class="graph-block">
            <h3>协会信息</h3>
            <p><span class="text-primary">简介: </span></p>
            <% data.commerce.summary.forEach(line=>{%>
            <p style="text-indent: 2em"><%=line%></p>
            <%})%>

            <p><span class="text-primary">地址: </span><%= data.commerce.address %></p>
            <p><span class="text-primary">电话: </span><%= data.commerce.telephone %></p>
            <p><span class="text-primary">传真: </span><%= data.commerce.fax %></p>
            <p><span class="text-primary">邮箱: </span><a class="text-muted"
                href="mailto:<%= data.commerce.mail %>"><%= data.commerce.mail %></a></p>
            <p><span class="text-primary">首页: </span><a class="text-muted"
                href="http://<%= data.commerce.page %>"><%= data.commerce.page %></a></p>
            <!-- <p><span class="text-primary">相关视频: </span><a class="btn-xs btn-primary" href="/identify/video/">点击查看</a></p> -->
            <p><span class="text-primary">相关证书: </span></p>
            <p>
              <img src="/images/commCert.jpg" class="img-responsive img-rounded"
                style="margin-top:5px;margin-bottom:10px"></img>
              <!-- <img src="/images/businessCert.jpg" class="img-responsive img-rounded"
                style="margin-top:5px;margin-bottom:10px"></img> -->
            </p>

          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-9 top-blank">
        <div class="jumbotron">
          <div class="graph-block">
            <h3>会员信息</h3>
            <p><span class="text-primary">简介: </span><%= data.info.name %></p>
            <!-- <p><span class="text-primary">电话: </span><%= data.info.telephone %></p> -->
            <% if(!!data.info.page){ 
              var url = data.info.page;
              if(data.info.page.indexOf('http://')==-1){
                url = 'http://'+ data.info.page
              }  
            %>
            <p><span class="text-primary">首页: </span><a class="text-muted" href="<%= url %>"><%= data.info.page %></a>
            </p>
            <% } %>
            <!-- <p><span class="text-primary">相关证书: </span></p> -->
            <!-- <p> -->
            <!-- <% if(data.info.certification){ %>
              <img src="<%=data.info.certification%>" class="img-responsive img-rounded"
                style="margin-top:5px;margin-bottom:10px"></img>
              <%} %> -->
            <!-- <% if(data.info.businessCertification){ %>
              <img src="<%=data.info.businessCertification%>" class="img-responsive img-rounded"
                style="margin-top:5px;margin-bottom:10px"></img>
              <%} %>
              <% if(data.info.commCertification){ %>
              <img src="<%=data.info.commCertification%>" class="img-responsive img-rounded"
                style="margin-top:5px;margin-bottom:10px"></img>
              <%} %> -->
            <!-- </p> -->

          </div>
        </div>
      </div>
      <% } %>
      <%} else if (result == -1){ %>

      <div class="col-xs-12 col-sm-9 top-blank">

        <div class="jumbotron">
          <div id="result" class="graph-block">
            <h3>查询结果</h3>
            <p>您所查的序列号 <span id="code" class="text-primary"><%= data.code %></span> 不存在，谨防假冒，或核对后请重新查询。
              <!-- ，并请拨打咨询热线： <span class="text-primary"><%= data.commerce.telephone %></span> -->
            </p>
          </div>
        </div>

      </div>

      <% } else if (result == 1) {%>

      <div class="col-xs-12 col-sm-9 top-blank">

        <div class="jumbotron">
          <div id="result" class="graph-block">
            <h3>查询结果</h3>
            <p>序列号 <span id="code" class="text-primary"><%= data.code %></span> 已经被查询<span
                class="text-primary"><%= data.queryCount %></span>次，首次查询时间为：<span
                class="text-primary"><%= data.firstTime %></span></p>
            <p>请您谨防假冒。
              <!-- 并请拨打咨询热线： <span class="text-primary"><%= data.commerce.telephone %></span> -->
            </p>
          </div>
        </div>

      </div>

      <% } else if(result ==3) {%>
      <div class="col-xs-12 col-sm-9 top-blank">

        <div class="jumbotron">
          <div id="result" class="graph-block">
            <h3>查询结果</h3>
            <p>
              <span class="text-primary">当前序列号未关联使用</span>
            </p>
          </div>
        </div>

      </div>

      <% } %>
      <audio id="audInfo"></audio>
      <div class="col-xs-12 col-sm-9 top-blank" id="mapPanel">

        <div class="jumbotron">
          <div class="graph-block">
            <h3>地图位置</h3>
            <div id="mapContainer">
            </div>
          </div>
        </div>

      </div>
    </div>


    <hr>
  </div>
  <footer class="footer-reset footer bg-primary">
    <% if(data.info && data.info.type === 0) { 
        var title = data.info.name;
        if(title.indexOf('公司')> -1){
          title = title.substring(0,title.indexOf('公司')+2);
        }  
      %>
    <h4>©<%= title %></h4>
    <% } else { %>
    <h4>©苏州市相城区阳澄湖大闸蟹行业协会.</h4>
    <%}%>
  </footer>
  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/lib/ie10-viewport-bug-workaround.js"></script>
  <script src="/lib/offcanvas.js"></script>
  <script src="/javascripts/identify.js"></script>
  <% if(data.info && data.info.type ===0 && result ===0) {%>
  <script type="text/javascript" src="/javascripts/identify-extra.js"></script>
  <%}%>
</body>

</html>